.btn-atualizar {
    color: white !important;
    background-color: #000851 !important;
}
.btn-deletar {
    color: white !important;
    background-color: #5ead2e !important;
}

.card-tema {
    border: none !important;
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 10px !important;
}