@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.container {
  width: 100vh;
  height: calc(100vh - 64px);
}

.container-form-login {
  color: rgb(0, 16, 94) !important; 
  padding: 20px 0;
}

.titulo-form {
  font-family: "Poppins", sans-serif !important;
}

label {
  color: rgb(162, 161, 161) !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-logar {
  margin-top: 20px;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: rgb(0, 16, 94) !important;
}

.botao-enviar:hover {
  background-color: #f94323 !important;
  color: #240d63 !important;
}

.legenda-login {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
}

.legenda-cadastrar {
  font-family: "Poppins", sans-serif !important;
}

.legenda-cadastrar {
  color: rgb(46, 46, 46);
}
.legenda-cadastrar:hover {
  color: #f94323;
}