@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.container {
  height: 100vh;
  width: 100vh;
  background-image: url("../../assets/fundo-login.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-form-login {
  color: #000851 !important;
  padding: 40px 30px;
  background-color: white;
  border-radius: 10px;
}

label {
  font-family: "Poppins", sans-serif !important;
}

.btn-logar {
  margin-top: 20px;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #000851 !important;
}

.btn-logar:hover {
  background-color: #4d75e3 !important;
}

.legenda-login {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
}

.legenda-cadastrar {
  font-family: "Poppins", sans-serif !important;
}

.legenda-cadastrar {
  color: rgb(50, 50, 50);
}
.legenda-cadastrar:hover {
  color: #e64f0f;
}

