@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap%22);


.container {

  width: 100vh;
  height: calc(110vh - 64px);
  background-image: url(https://svgshare.com/i/sia.svg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
.container-vazio{
  max-width: 500px;
  width: 30%;

  color: rgb(0, 16, 94) !important;
  background-color: rgba(0, 0, 0, 0.733);
  position: absolute;
  height: 71%;


  border-radius: 40px;

  left: 9%;
  top: 20%;
}

.container-form-login {
  max-width: 500px;
  width: 30%;

  color: rgb(0, 16, 94) !important;
  background-color: white;
  position: absolute;
  height: 70%;


  border-radius: 40px;

  left: 10%;
  top: 20%;
}

.container-inputs {
  padding: 25px 50px;
  font-family: "Poppins", sans-serif !important;

}


.container-inputs-usuario {
  margin-top: 9%;

}

.container-inputs-senha {
  margin-top: 4%;

}


.titulo-form {
  font-family: "Poppins", sans-serif !important;
}

label {
  color: rgb(162, 161, 161) !important;
  font-family: "Poppins", sans-serif !important;
}

.s-btn-logar {
  margin-top: 12%;
}

.btn-logar {
  margin-top: 20px;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: rgb(0, 16, 94) !important;
}

.botao-enviar:hover {
  background-color: #f94323 !important;
  color: #240d63 !important;
}

.legenda-login {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
}

.legenda-cadastrar {
  font-family: "Poppins", sans-serif !important;
}

.legenda-cadastrar {
  color: rgb(46, 46, 46);
}

.legenda-cadastrar:hover {
  color: #f94323;
}

.logo{
  position: absolute;
  width: 100px;
  top: 100%;
  left: -25%;
}