.titulo {
  color: blue;
  text-align: center;
}

.container-principal-home {
  background-image: url("../../assets/fundo-home.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;  
}

.titulo-banner {
  font-size: 2rem !important;
}

.subtitulo-banner {
  font-size: 1rem !important;
}

.btn-doar {
  font-size: 1.5rem !important;
  margin-top: 40px !important;
}
