.container-principal-home {
    background-color: rgb(141, 77, 0);
}

.titulo {
    color: blue;
    text-align: center;
}

.container-principal-home {
    background-image: url("../../assets/fundo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}