@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

.logo-cadastro {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  float: right;
}

.container-cadastro {
  height: 100vh;
  width: 100vh;
  background-image: url("../../assets/fundo-cadastro.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-form-cadastro {
  background-color: rgb(255, 255, 255);
  padding: 40px 30px;
  border-radius: 10px;
}

.titulo-cadastro {
  color: #000851;
  font-family: "Open Sans", sans-serif !important;
}

.btn-cancelar,
.btn-cadastrar {
  margin-top: 20px !important;
}

.btn-cadastrar {
  color: white !important;
  background-color: #5ead2e !important;
}

.btn-cadastrar:hover {
  background-color: #3f7720 !important;
}

.btn-cancelar {
  color: white !important;
  margin-right: 30px !important;
  background-color: #000851 !important;
}

.btn-cancelar:hover {
  color: white !important;
  margin-right: 30px !important;
  background-color: #4d75e3 !important;
}
