@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
    margin: 0;
}

a {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(239, 239, 239);
}

box {
    border-radius: 10px;
}

