@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');


* {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    text-decoration: none;
}

body {
    background: rgb(241, 241, 241);
}

p {
    padding-top: .5rem;
}

